* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}

.grid-container {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.item:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.item {
  height: 100%;
  background-color: rgb(211, 211, 235);
}
.item:last-child {
  grid-column: 1 / span 3;
}

@media screen and (max-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
