body {
  background-color: black;
}

h1,
.identity,
.copyri {
  background-color: rgb(5, 95, 206);
  padding: 2rem;
  margin: 1rem;
}
.identity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  padding: 2rem;
  border: groove;
}

.copyri {
  text-align: center;
}
