* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header aside"
    "left main main aside"
    "something main main aside"
    "something main main aside"
    "footer footer footer footer";
  grid-auto-rows: 1fr;
  gap: 1rem;
  overflow: hidden;
  height: 100%;
}

.header {
  grid-area: header;
  min-height: 100px;
  background: green;
  padding: 1rem;
}

.aside {
  grid-area: aside;
  background: yellow;
  padding: 1rem;
}

.main {
  grid-area: main;
  background: pink;
  padding: 1rem;
}

.footer {
  grid-area: footer;
  background: red;
  padding: 1rem;
}

.leftt {
  grid-area: left;
  background: blue;
  padding: 1rem;
}

.leftb {
  grid-area: something;
  background: purple;
  padding: 1rem;
}
